@import url(https://fonts.googleapis.com/css?family=Open+Sans);

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

html, body, main, .map {
  height: 100%;
}

body {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-size: 0.8em;
  margin: 0;
  color: #262626;
  background: #F0F8FF;
  overflow: hidden;
}

main {
  position: relative;
}

.map {
  width: calc(100% - 240px);
  display: inline-block;
}

aside {
  height: 100%;
  width: 240px;
  position: absolute;
  right: 0;
  top: 0;
  background: #fff;
  border-left: 1px solid #ececec; 
  padding: 2em 1.5em 0;
  -webkit-transition: left .15s ease;
  transition: left .15s ease;
  z-index: 100;
}

aside p {
  margin: 0 0 0.3em;
}

aside h2 {
  margin: 0 0 1em;
}

aside a {
  color: #777;
}

.sidebar-wrapper {
  height: 100%;
  position: relative;
}

.open {
  position: absolute;
  top: 20px;
  right: 20px;
  display: none;
  font-size: 2em;
  cursor: pointer;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  z-index: 500;
}

.open:hover {
  color: #ccc;
  -webkit-transition: color .15s ease;
  transition: color .15s ease;
}

.open:after {
  content: '☰';
}

.close {
  float: right;
  font-size: 2em;
  line-height: 1em;
  margin-left: 1em;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
  z-index: 500;
}

.close:hover {
  color: #ccc;
  -webkit-transition: color .15s ease;
  transition: color .15s ease;
}

.info {
  margin: 0 0 2em;
}

.list-wrapper {
  position: relative;
}

.list {
  overflow: auto;
}

.list:after {
  content: '\a';
  white-space: pre;
  display: inline-block;
  height: 1.6em;
}

.list p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.gradient {
  opacity: 1;
  height: 60px;
  right: 0;
  width: 100%;
  background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.01) 1%, rgba(255, 255, 255, 1) 75%, rgba(255, 255, 255, 1) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(1%, rgba(255, 255, 255, 0.01)), color-stop(75%, rgba(255, 255, 255, 1)), color-stop(100%, rgba(255, 255, 255, 1)));
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.01) 1%, rgba(255, 255, 255, 1) 75%, rgba(255, 255, 255, 1) 100%);
  background: -o-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.01) 1%, rgba(255, 255, 255, 1) 75%, rgba(255, 255, 255, 1) 100%);
  background: -ms-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.01) 1%, rgba(255, 255, 255, 1) 75%, rgba(255, 255, 255, 1) 100%);
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.01) 1%, rgba(255, 255, 255, 1) 75%, rgba(255, 255, 255, 1) 100%);
  filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#00ffffff', endColorstr='#ffffff', GradientType=0);
}

.legend {
  height: 160px;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
}

.legend ul {
  background: #fff;
  margin: 0;
  padding: 1em 0;
  display: block;
  list-style-type: none;
}

.legend li {
  padding: 0.2em 0;
}

.states {
  fill: #616161;
}

.state-borders {
  fill: none;
  stroke: #fff;
  stroke-width: 1.5px;
  stroke-linejoin: round;
  stroke-linecap: round;
}

.link {
  opacity: 0;
  fill: none;
  stroke: white;
  stroke-width: 3px;
  pointer-events: none;
}

.location {
  cursor: pointer;
  -webkit-transition: opacity .1s ease-in-out;
  -moz-transition: opacity .1s ease-in-out;
  -ms-transition: opacity .1s ease-in-out;
  -o-transition: opacity .1s ease-in-out;
  transition: opacity .1s ease-in-out;
}

.location.contractor {

  fill: #616161;
  pointer-events: none;
}

.location.client {
  
  cursor: pointer;
}

.location:hover .link {
  opacity: 1;
}

.contractor {
  stroke: #fff;
  background: #27AFFF;
}

.client {
  stroke: #fff;
  fill: #A4D51B;
  background: #A4D51B;
}

.bubble {
  display: inline-block;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  margin-right: .3em;
  vertical-align: middle;
}

.line {
  background: #616161;
  display: inline-block;
  width: 1em;
  height: .2em;
  margin-right: .3em;
  vertical-align: middle;
}

.zoom {
  cursor: pointer;
  position: absolute;
  left: 40px;
  top: 20px;
  text-align: center;
  font-size: 3em;
  line-height: 1em;
}


